

/*
Colors used:
Primary Color (white): #FFFFFF;
Secondary Colors (Blue & Green): #2C6C90, #2C9082;
Text Colors (Black & Gray): #00000, #58595B;
*/



body{
background-color: #ffffff;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
color:#58595B
}

h1, h2, h3 {
  line-height: 1.2;
  color: #000000;
}
h1 {
  font-size: 3em;
  font-weight: 700;
}
h2 {
  font-size: 2.5em;
  font-weight: 600;
}

h3 {
  font-size: 2em;
  font-weight: 500;
}

img{

  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}
a:hover,a:focus {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: #2C9082;
}

a:active {
  color: #2C6C90;
}


.button {
  display: inline-block;
  background-color: #2C9082;
  color: #ffffff;
  font-weight: 400;
  padding: 8px;
  border-radius: 8px;
  border-bottom: 1px solid #2C6C90;
  transition: 0.2s opacity;
  text-decoration: none;
}

.button:visited{
  color: #ffffff;
  text-decoration: none;
}
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #2C6C90;
  opacity: 0.8;
  text-decoration: none;
}


.button.contact {
  background-color: transparent;
  color: #2C9082;
  text-transform: uppercase;
  border: 2px solid #2C9082;
  text-decoration: none;
}

.button.contact:hover {
  background-color: #2C9082;
  color: #ffffff;
}


.button.resume{
  background-color: #2C6C90;
  color: #ffffff;
  border-bottom: 1px solid #2C6C90;
  text-decoration: none;
}

.list{
  text-decoration: underline;
  text-decoration-color: #2C9082;
}
#copyright{
  font-size:10px;
}
