/*
Colors used:
Primary Color (white): #FFFFFF;
Secondary Colors (Blue & Green): #2C6C90, #2C9082, #288477;
Text Colors (Black & Gray): #00000, #58595B;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #58595b;
}

h1,
h2,
h3 {
  line-height: 1.4;
  color: #000;
  background-color: #fff;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.75em;
  font-weight: 500;
}

.underline {
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  text-decoration-color: #2c9082;
}

.fitline {
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  text-decoration-color: #ff4e00;
}

img {
  width: 100%;
}

.logo {
  max-width: 150px;
}

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover,
a:focus {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #2c9082;
}

a:active {
  color: #2c6c90;
}

#phone {
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #fff;
}

.button {
  display: inline-block;
  background-color: #288477;
  color: #fff;
  font-weight: 400;
  padding: 8px;
  border-radius: 8px;
  border-bottom: 1px solid #2c6c90;
  text-decoration: none;
  transition: 0.5s opacity;
}

.button:visited {
  color: #fff;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:active {
  background-color: #2c6c90;
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  text-decoration: none;
  padding: 7px;
  margin: 0 10px;
}

.button.contact:hover {
  background-color: #288477;
  color: #fff;
}

.button.resume {
  background-color: #2c6c90;
  color: #fff;
  text-decoration: none;
}

.list {
  text-decoration: underline;
  text-decoration-color: #2c9082;
}

#copyright {
  font-size: 10px;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #2c6c90;
}

#hero h1 {
  text-align: center;
}

#bio h1 {
  text-align: center;
}

#Fittedapp h1 {
  text-align: center;
}

#projects h2 {
  text-align: center;
}

header {
  background-color: #fff;
  padding: 10px 0 4px;
  box-shadow: 0 4px 4px 0 rgba(153, 170, 187, 0.9);
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}

nav > ul > li > a:visited {
  color: #000;
}

nav > ul > li > a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #2c9082;
}

nav > ul > li > a:active {
  color: #2c6c90;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1.5px solid #2c9082;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

#banner > ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

#banner > ul > li {
  display: inline-block;
  padding: 0 15px;
}

main {
  padding-top: 85px;
}

#contact {
  background-color: #288477;
  color: #fff;
  padding: 5px 0;
  margin: 25px 0 0;
}

#contact h2 {
  color: #fff;
  background-color: #288477;
}

.icon {
  margin: 0 10px;
}

.line {
  padding-bottom: 25px;
  border-bottom: 1px solid #2c6c90;
}

#fitted p {
  text-align: center;
}

.background {
  border: 1px;
  border-color: #ff4e00;
  border-style: solid;
}

#finalscreens h3 {
  text-align: center;
  font-size: 1.25em;
  font-weight: 500;
}

#login,
#exercises,
#achievements,
#goals {
  padding: 10px 0;
}

#fitted h2,
h3 {
  text-align: center;
}

#contact {
  text-align: center;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  width: 0;
  height: 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .logo {
    max-width: 250px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
    border-top: none;
    padding: 0;
  }

  .navtoggle li:last-child {
    display: none;
    border-top: none;
    padding: 0;
  }

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-6 {
    width: 50%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #about h3 {
    margin-top: 0;
  }

  .pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }

  iframe {
    width: 438px;
    height: 930px;
  }

  #hide {
    width: 0;
    height: 0;
    color: #fff;
    font-size: 1px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #hero p {
    text-align: center;
  }

  #lowfi p {
    text-align: center;
  }
}

/* ==============================
CSS Animation code
================================= */
@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 50s cloud-move-reverse infinite alternate linear;
}
